<% @merchant.discounts.each do |discount| %>
  <div id="id-<%= discount.id %>">
    <h1>Discount #<%= discount.id %></h1>
    <h3>Percentage: <%= discount.percent %></h3>
    <h3>Quantity: <%= discount.quantity %></h3><br>
  </div>
<% end %>